<header>
    <div class="container">
        <h1 class="logo">
          <a href="http://localhost:4200/#home">FashionStyle</a> <!-- Agrega la URL deseada -->
        </h1>
        <nav>
          <ul>
              <li><a href="#home">Inicio</a></li>
              <li><a href="/tienda">Colección</a></li>
              <li><a href="/nosotros">Nosotros</a></li>
              <li><a href="/contacto">Contacto</a></li>
              <li><a href="/login">login</a></li>

          </ul>
      </nav>
  </div>
</header>ng