

.formulari-contacto {
    margin: 20px;
color: #ffffff;
    

}
:host {
    display: center; /* Permite que el componente use todo el espacio disponible */

}

h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

textarea {
    resize: none; /* Evitar el cambio de tamaño del área de texto */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: #074A59;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
   
}

.form {
justify-content: center;
margin: 250px;
background-color:#074A59 ;
color: aliceblue;
border-radius: 20px;
}

button {
    width: 50%; /* Ajusta el ancho del botón */
    padding: 10px;
    background-color: #ffffff;
    color: #074A59;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px ; /* 'auto' en los lados izquierdo y derecho lo centrará */
  }

  .fondoform {
background-color: ;


  }