<app-header></app-header>
 
 
 <!-- ============solo esto login=============== -->

 <main class="login">
    <section class="tarjetalogin">
      <h3 class="bienvenidoslogin">Bienvenidos a nuestra Tienda Online</h3>
      <form class="inputline" (ngSubmit)="onLogin()">
        <input type="email" placeholder="E-mail" [(ngModel)]="email" name="email" required />
        <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required />
        <button type="submit" class="button">Ingresar</button>
      </form>
      <p class="logintext">
        Si los datos que ingresaste no coinciden con ninguna cuenta registrada, te llevaremos directamente al formulario de registro para que puedas crear una nueva cuenta. ¡Es fácil y rápido!
      </p>
    </section>
  </main>

  <!-- ============login=============== -->
  <app-footer></app-footer>
