<app-header></app-header>
 
 
 <!-- ============solo esto login=============== -->

 <main class="login">
    <section class="tarjetalogin">
        
      <h3 class="bienvenidoslogin">Bienvenidos a nuestra Tienda Online</h3>
      <form class="inputline">
        <input type="email" name="" id="" placeholder="E-mail"/>
        <input type="password" name="" id="" placeholder="Contraseña" />
        <button class="button">Ingresar</button>
                </form>
      <p class="logintext">
          Si los datos que ingresaste no coinciden con ninguna cuenta
          registrada, te llevaremos directamente al formulario de registro
          para que puedas crear una nueva cuenta. ¡Es fácil y rápido!
        </p>
    </section>
  </main>

  <!-- ============login=============== -->
  <app-footer></app-footer>
