

<!-- ============solo esto login=============== -->

<main class="login">
  <section class="tarjetalogin">
    <h3 class="bienvenidoslogin">Bienvenidos a nuestra Tienda Online</h3>

    <form (ngSubmit)="onSubmit()" class="inputline">
      <input type="email" name="email" [(ngModel)]="email" placeholder="E-mail" required />
      <input type="password" name="password" [(ngModel)]="password" placeholder="Contraseña" required />
      <button type="submit" class="button">Ingresar</button>
    </form>

    <p class="logintext">
      Si los datos que ingresaste no coinciden con ninguna cuenta
      registrada, te llevaremos directamente al formulario de registro
      para que puedas crear una nueva cuenta. ¡Es fácil y rápido!
    </p>
  </section>
</main>


