<section class="banner">
  <div class="banner-content">
    <h1 class="producttext">{{ data.name }}</h1>
  </div>
</section>
<section class="tarjetadetalleproducto">
<!-- izquierda -->
 <div class="cajaizquierda">
  <div class="miniaturadetalleroducto">
    @for(miniatura of data.images;track $index){
    <img [src]="miniatura" alt="" />
    }
  </div>
  <div class="imagendestacada">
    <img [src]="data.images[0]" alt="" />
    <div class="textoimagendestacada">
    <h1 class="producttext">{{ data.name }}</h1>
    <h3 class="producttext">Precio: {{ data.price }}</h3>
    </div>
  </div>
  </div>
<!-- derecha -->
    <div class="cajaderecha">
    <h1 class="producttext1">{{ data.name }}</h1>
    <h3 class="producttext">{{ data.descripcion }}</h3>
    <h3 class="producttext">Marca: {{ data.brand }}</h3>
    <h3 class="producttext">Unidides Disponibles:{{ data.stock }}</h3>
    <h3 class="producttext">Categoria:{{ data.category }}</h3>

    <select name="" id="">
      <option value="">Talla: {{ data.size }}</option>
    </select>

    <h3 class="producttext">$ {{ data.price }} COP</h3>
    <button (click)="addToCart(data)">AÑADIR AL CARRITO</button>
    <a href="http://localhost:4200/tienda">
      <button class="btnseuircomprando">SEGUIR COMPRANDO</button>
  </a>  </div>
    </section>
    <!-- Carrito de compras -->
     <div class="addToCartdetalleproducto">
<app-carrito *ngIf="cartsProducts.length > 0" [cartsProducts]="cartsProducts"></app-carrito>

     </div>

