:root {
  --primary-color: #07768f;
  --secondary-color: #074A59;
  --light-bg: #f2f2f2;
  --text-color: #333;
  --hover-shadow-color: #074A59;
  --font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: white;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

h1, h2, h3, h4 {
  font-weight: 600;
  color: var(--text-color);
  margin: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

.container{
  color: #f2f2f2;

}


